.bg-perso {
    background-color: #ffffff;
}

.titre_veille {
    color: #6E6C99;
}

.realisations_professionnelles {
    color: #6E6C99;    
}

/* Paragraphes */
p {
    color: #2E2E2E;
    /* color: whitesmoke; */
    font-weight: 500;
}

/* Titres H1 en couleur */
h1 {
    color: #18191B;
    font-weight: 700;
}

/* Bouton d'acceuil */
.home-button {
    color: #18191B;
    font-weight: 700;
}

/* Liens gras */
.fat-link {
    font-weight: 600;
}

/* Timeline */

body{margin-top:20px;}
.timeline {
    border-left: 3px solid #6E6C99;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /* couleur du fond transparent */
    background: rgba(160, 114, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* ici dashed */
.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

.timeline .no-dashed {
    border-bottom: 1px #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #6E6C99;
    box-shadow: 0 0 0 3px #6E6C99;
    left: -55.8px;
    background: #ffffff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #6E6C99;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* Ajout perso */
h1.timeline_title {
    font-weight: 700;
}